/* Theme */

main {
	background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.2)), url("../../static/img/landing-sadcat-01.jpg");
	color: #4B5658;
	background-position: center;
	background-size: cover;
}

.icons-social a {
	color: #4B5658;
}

.icons-social a svg path{
	fill: #4B5658;
}